<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userDao" class="com.groupTen.dao.UserDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="userService" class="com.groupTen.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="loginAction" class="com.groupTen.action.LoginAction">
		<property name="userService" ref="userService"/>	
	</bean>
	<bean id="weatherDao" class="com.groupTen.dao.WeatherDataDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="weatherImportService" class="com.groupTen.service.WeatherImportService">
		<property name="weatherDao" ref="weatherDao" />
	</bean>
	 <bean id="getDataService" class="com.groupTen.service.GetDataService">
		<property name="weatherDao" ref="weatherDao" />
	</bean>
	<bean id="importDataAction" class="com.groupTen.action.ImportDataAction">
		<property name="importService" ref="weatherImportService"/>	   
	</bean>
	<bean id="jsonAction" class="com.groupTen.action.JsonAction">
		<property name="dataService" ref="getDataService"/>	   
	</bean>
	
	<bean id="stateDao" class="com.groupTen.dao.StateDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="stateService" class="com.groupTen.service.StateService">
		<property name="stateDao" ref="stateDao" />
	</bean>
	<bean id="stateAction" class="com.groupTen.action.StateAction">
		<property name="stateService" ref="stateService"/>	   
	</bean>
	<bean id="regionAction" class="com.groupTen.action.GetRegionAction">
		<property name="stateService" ref="stateService"/>	   
	</bean>
	<bean id="checkUserAction" class="com.groupTen.action.CheckUserAction">
		<property name="service" ref="weatherImportService"/>	   
	</bean>
</beans>